This exercise is done according to instructions from https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-stats

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Essential basic functionality

In [2]:
index = pd.date_range('1/1/2000', periods=8)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [3]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
s

a   -0.323269
b    1.331374
c    0.592170
d   -0.406072
e    0.652263
dtype: float64

In [4]:
df = pd.DataFrame(np.random.randn(8,3), index=index, columns=['A','B',"C"])
df

                   A         B         C
2000-01-01 -0.092664 -0.507019 -0.242216
2000-01-02 -0.046435  0.952599  2.073843
2000-01-03 -1.018570  0.039634  0.211202
2000-01-04 -0.810429  0.984124 -0.921361
2000-01-05  0.743581 -0.224253  0.049828
2000-01-06 -1.487522  1.328802 -0.092192
2000-01-07 -0.360247  1.530064 -0.521557
2000-01-08  0.473100 -2.921503 -0.766630

In [5]:
df.head(3)

                   A         B         C
2000-01-01 -0.092664 -0.507019 -0.242216
2000-01-02 -0.046435  0.952599  2.073843
2000-01-03 -1.018570  0.039634  0.211202

In [6]:
df.tail(3)

                   A         B         C
2000-01-06 -1.487522  1.328802 -0.092192
2000-01-07 -0.360247  1.530064 -0.521557
2000-01-08  0.473100 -2.921503 -0.766630

In [7]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [8]:
df.shape

(8, 3)

In [9]:
df.describe

<bound method NDFrame.describe of                    A         B         C
2000-01-01 -0.092664 -0.507019 -0.242216
2000-01-02 -0.046435  0.952599  2.073843
2000-01-03 -1.018570  0.039634  0.211202
2000-01-04 -0.810429  0.984124 -0.921361
2000-01-05  0.743581 -0.224253  0.049828
2000-01-06 -1.487522  1.328802 -0.092192
2000-01-07 -0.360247  1.530064 -0.521557
2000-01-08  0.473100 -2.921503 -0.766630>

In [10]:
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.to_numpy()

array([[-0.0926642 , -0.5070187 , -0.24221595],
       [-0.04643482,  0.95259879,  2.07384285],
       [-1.01857029,  0.03963372,  0.21120192],
       [-0.81042891,  0.98412385, -0.92136089],
       [ 0.74358101, -0.22425332,  0.04982832],
       [-1.48752175,  1.32880231, -0.09219198],
       [-0.36024744,  1.53006418, -0.52155689],
       [ 0.47310008, -2.92150337, -0.76663006]])

In [12]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)


df

        one       two     three
a  0.270262 -0.038424       NaN
b -1.678505 -1.281165  0.492102
c  1.000870  0.855622 -1.982281
d       NaN  0.179422 -0.890015

In [13]:
import numpy as np
import pandas as pd

In [15]:
np.arange(20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [16]:
df.value_counts()

one        two        three
-1.678505  -1.281165   0.492102    1
 1.000870   0.855622  -1.982281    1
dtype: int64

In [17]:
df['one'].value_counts()

-1.678505    1
 1.000870    1
 0.270262    1
Name: one, dtype: int64